== stylesheet_include 'default/new'

== render_block(:header, @model) do
  == link_to(:index, @model, 'Cancel', class: 'btn btn-outline-danger back-button')
br
== render_block(:form, model: @model, method: :post, save_to: "/api/#{model.plural_name}", save_redirect: "/#{model.plural_name}")
