== stylesheet_include 'dformed'

- if model && (model.is_a?(BBLib::Effortless) || model.is_a?(Class) && model.ancestors.include?(BBLib::Effortless))
  - form = DFormed.form_for(model).serialize(true)
  - df_class = model.is_a?(Class) ? model.to_s : model.class.to_s

- unless form
  h3.text-center Cannot Render DForm

- if form.is_a?(DFormed::Form)
  - form = form.serialize(true)

- form_attributes = { 'df-name': name, 'df-class': df_class, 'df-form-data': form.to_json }
- save_attributes = { title: save_text, 'df-name': name, 'df-save-to': save_to, 'df-method': method.to_s.downcase, 'df-save-redirect': save_redirect }

.dform-block.dform *attributes.merge(form_attributes)
br
button.dform-save.btn.btn-outline-primary.btn-lg.text-center#save *save_attributes Save

== yield if block_given?
