sass:
  body
    overflow: hidden
  #backdrop
    min-width: 100%
    min-height: 100%
    z-index: -1
    position: absolute
    top: 0
    bottom: 0
    margin: auto
  #gem
    width: 100%
    font-size: 500px
    text-align: center
    color: #0a74d1
    text-shadow: 5px 5px 8px rgba(#000000, 0.5)
    transition: all 3s ease

== render_block 'header', height: 300, title: "Welcome to #{base_server.title}", subtitle: "Powered By BlockStack #{BlockStack::UI::VERSION.split('.')[0..-2].join('.')}"
/== image_tag('blocks', id: 'backdrop', class: 'ken-burns')
br
#gem.far.fa-gem.animated.zoomIn
